{%extends 'main/layout.html' %}

{% block title %}Про компанію{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про компанію</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum cumque debitis delectus nemo nihil officia perspiciatis quibusdam quis quos, repudiandae suscipit, tempora ut. Cumque fuga minima molestias officiis sint?</p>
        <a href="{% url 'home' %}" class="btn btn-warning">На головну сторінку</a>
    </div>
{% endblock %}
